.profileContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 16px;
}

.avatar {
  width: 80px;
  height: 80px;
}

.userInfo {
  margin-left: 16px;
}

.newsContainer {
  padding: 16px;
}